extends layout
 
block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
 
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/jquery/jquery-1.7.2.min.js")
  script(src="/javascripts/chat.js")
 
block content

  div#chat.shadow
    div#usuario
      label(for="userName") Usuario:
      input#userName(type="text", size="30")
      input#enter(type="button", value="entrar")
      span#feedback
   
    div#mensajes
      div#msgWindow
      div#usuarios
        select#users(style="width: 100px",size="15")
    div#enviar
      input#msg(type="text", style="width: 400px", disabled="true")
      input#enviar(type="button", value="enviar")

