#chat {
  width: 550px;
  height: 300px;
}

#enviar {
  padding-top: 5px;
}
#msgWindow {
  float : left;
  width: 400px;
  height: 250px;
  border: 1px black solid;
}

#usuarios {
  float: left;
  width: 100px;
  height: 250px;
  padding-left: 5px;
}
 
.shadow {
  box-shadow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-right: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.allMsg {
}
 
.privMsg {
  color: blue;
  font-style:italic;
}
 
.adminMsg {
  color:red;
  font-face: "verdana, helvetica";
  font-size: 8;
}